body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

ul > li {
  list-style: none;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

main {
  max-width: 980px;
  margin: 48px auto 20px;
}
